#program {
    overflow: hidden;
}

#program ul {
    overflow: auto;
    width: 1000px;
}

#program ul li {
    width: 188px;
    height: 190px;
    padding: 15px;
    margin-right: 25px;
    margin-bottom: 25px;
    background: #f2f1f8;
    float: left;
    position: relative;
    border-radius: 5px;
    border:1px solid #FFF;
    overflow: hidden;
}


#program ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
    cursor: pointer;
    height: 100%;
}



#program ul li:hover {
    border: 1px dashed #000;
}

#program ul li.dummyLink:hover {
    border: 1px solid #FFF;
}



#program ul li span {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
}


#program ul li h4 {
    position: absolute;
    top: 80px;
    left: 15px;
    width: 190px;
    height: 70px;
    display: table;
}


#program ul li h4 em{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-style: normal;
}

#program ul li.lunch{
    width: 925px;
    height: 20px;
}


#program ul li.lunch small,
#program ul li.lunch h4{
    position: absolute;
    top: 0;
    left: 420px;
    height: 20px;
    margin: 15px;
}


#program ul li.lunch small {
    top: 3px;
    left: 320px;
}


#program ul li.small {
    width: 139px;
}


#program ul li.small h4 {
    width: 142px;
}
