#sponsors {
   text-align: center;
    overflow: hidden;
}

#sponsors ul {
    overflow: auto;
    width: 1000px;
}

#sponsors ul li {
    height: 90px;
    width: 190px;
    padding: 15px;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
