#top {
    background: #f6f6f6;
    position: relative;
}

#top .topLine {
    height: 20px;
    background-position: 0 -157px;
    background-repeat: repeat-x;
}

#top .slide {
    height: 385px;
    background-position: 0 -193px;
    background-repeat: no-repeat;
} 

#top .followUs {
    background: #00a1de;
    height: 50px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    line-height: 50px;
}


#top .followUs a{
    display: inline-block;
    width: 40px; 
    height: 30px;
    position: relative;
    top: 12px;
    margin: 0 10px 0 5px;
}


#top .followUs a.twitter{
    background-position: -694px -566px;
}

#top .followUs a.facebook{
    background-position: -766px -566px;
}

#top .followUs a.github{
    background-position: -734px -566px;
}

#top .text {
    position: relative;
    height: 380px;
}

#top .text #elephant {
    width: 425px;
    height: 425px;
    position: absolute;
    top: -40px;
    right: 10px;
    background-position: -689px -744px;
}

#top h1,
#top h3 {
    color: #009add;
}

#top .text #info {
    position: relative;
    top: 70px;
    width: 500px;
    text-align: center;
    color: #8E8B8B;
}

#top .text #info p {
    font-family: Tahoma;
    font-size: 14px;
}
#registerRedButton {
    position: relative;
    top: 15px;
}

#top .ircLink a,
#top .contactMail a{
    margin: 5px;
    text-decoration: none;
    color: #0082b4;
    display: inline-block;
}

#top .ircLink a:hover,
#top .contactMail a:hover {
    text-decoration: underline;
}





