{% extends "phpistIndexBundle::layout.html.twig" %}

{% block body %}
    <div class="toCenter notFound">
        <img src="{{ asset('bundles/phpistindex/img/404.png') }}" alt="Sayfa Bulunamadı"/>
    </div>
{% endblock %}
