{% extends "phpistIndexBundle::layout.html.twig" %}


{% block top %}
    <div id="top">
        <div class="topLine sprite"></div>
        <div class="slide sprite">
            <div class="text toCenter">
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                Lorem ipsum falan filan <br/>
                <a href="#" class="redButton" id="registerredButton">Hemen Kaydol</a>
            </div>

            <img src="#" id="elephant"/>
        </div> <!-- .slide -->
        <div class="followUs">
            Gelişmeler için bizi takip edin! 
            <a href="#" class="ir sprite twitter">Twitter</a> 
            <a href="#" class="ir sprite facebook">Facebook</a> 
            <a href="#" class="ir sprite github">Github</a> 
        </div> <!-- .followUs -->
    </div> <!-- #top -->


{% endblock %}


{% block body %}
    <div id="program" class="toCenter">
        <h2 class="sprite"><span>Konuşma Programı</span></h2>
    </div> <!-- #program -->


    <div id="speakers" class="toCenter">
        <h2 class="sprite"><span>Konuşmacılar</span></h2>
    </div> <!-- #speakers -->


    <div id="sponsors" class="toCenter">
        <h2 class="sprite"><span>Sponsorlar</span></h2>

        <a href="#" class="redButton" id="howToSponsor">Sponsor Ol</a>
    </div> <!-- #sponsors -->

    <div id="contact" class="toCenter">
        <h2 class="sprite"><span>Ulaşım</span></h2>
    </div> <!-- #contact -->
{% endblock %}
