{% extends "phpistIndexBundle::layout.html.twig" %}

{% block body %}
    <div id="program" class="toCenter">
        <h2 class="sprite"><span>Konuşma Programı</span></h2>
    </div> <!-- #program -->


    <div id="speakers" class="toCenter">
        <h2 class="sprite"><span>Konuşmacılar</span></h2>
    </div> <!-- #speakers -->


    <div id="sponsors" class="toCenter">
        <h2 class="sprite"><span>Sponsorlar</span></h2>

        <a href="#" class="redButton" id="howToSponsor">Sponsor Ol</a>
    </div> <!-- #sponsors -->

    <div id="contact" class="toCenter">
        <h2 class="sprite"><span>Ulaşım</span></h2>
    </div> <!-- #contact -->
{% endblock %}
